/vEnv_Course_MLOps_Smartdata
/vEnv_MLOps_Smartdata

.ipynb_checkpoints/


# DVC — Los datasets reales y pesados NO van a Git
/data/*.csv
/data/*.parquet
/data/*.xlsx

# DVC cache y temporales locales (vital para que no subas gigabytes de cache a GitHub)
.dvc/cache/
.dvc/tmp/

# MLflow — Historial de experimentos y artefactos locales
mlruns/
mlartifacts/

# Modelos serializados (se registrarán a través de MLflow o DVC)
models/*.pkl
models/*.joblib

# Python, Jupyter y VS Code (Limpieza de tu entorno de desarrollo)
__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/

# Archivos de logs del sistema
*.log


# Ignorar dataset en cualquier subcarpeta
**/Dataset Endeudamiento Crediticio.csv

Class03_Caso_Practico/


Class04_CasoPractico/

Class04_FollowUp/data/
*.csv


# Artefactos locales generados por el pipeline o entrenamiento
artifacts/
**/artifacts/
*.pkl
*.joblib



# Variables de entorno y credenciales (claves de API, accesos a bases de datos o servicios cloud)
.env
.env.*
!.env.example

# Directorios de pruebas y cobertura locales de Pytest
.pytest_cache/
.coverage
htmlcov/

# Distribución y empaquetado de Python (si llegaras a compilar tu paquete)
build/
dist/
*.egg-info/




